{{ source_text }}
<div class="row visible-sm visible-xs text-center">
    <div aria-label="Top of Page or Home" class="btn-group">
        <a href="#mainpage-container" style="margin-right: 4px"><button class="btn btn-xs btn-default" type="button">Top of Page</button></a>
        <a href="' . url('<front>') . '"><button class="btn btn-xs btn-default" type="button">Home</button></a>
        </div>
    </div>